# 188.308 Informationsvisualisierung (UE 1,0) 2024W
## Assignement 1

In [28]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
data = pd.read_csv("artisdata.csv", delimiter=";")
data.head()

,a.id,a.firstname,a.lastname,a.gender,a.birthdate,a.deathdate,a.birthplace,a.deathplace,a.nationality,e.id,e.title,e.venue,e.startdate,e.type,e.paintings,e.country,e.city,e.latitude,e.longitude
0,1,William Bernard,Adeney,M,1878-01-01,1966-01-01,London,London,GB,489,"Second Post-Impressionist Exhibition. British,...",Grafton Galleries,1912,group,4,GB,London,51.514248,-0.093145
1,1,William Bernard,Adeney,M,1878-01-01,1966-01-01,London,London,GB,618,Exhibition of the Camden Town Group and Others,Public Art Galleries,1913,group,6,GB,Brighton,50.833333,-0.15
2,1,William Bernard,Adeney,M,1878-01-01,1966-01-01,London,London,GB,720,The Second Exhibition of Works by Members of t...,Goupil Gallery,1915,group,4,GB,London,51.514248,-0.093145
3,1,William Bernard,Adeney,M,1878-01-01,1966-01-01,London,London,GB,729,Third Exhibition of Works by Members of the Lo...,Goupil Gallery,1915,group,5,GB,London,51.514248,-0.093145
4,1,William Bernard,Adeney,M,1878-01-01,1966-01-01,London,London,GB,650,The First Exhibition of Works by Members of Th...,Goupil Gallery,1914,group,5,GB,London,51.514248,-0.093145

In [30]:
data['a.birthdate'] = data['a.birthdate'].astype(str).str[:4]
data['a.deathdate'] = data['a.deathdate'].astype(str).str[:4]
data.head()

,a.id,a.firstname,a.lastname,a.gender,a.birthdate,a.deathdate,a.birthplace,a.deathplace,a.nationality,e.id,e.title,e.venue,e.startdate,e.type,e.paintings,e.country,e.city,e.latitude,e.longitude
0,1,William Bernard,Adeney,M,1878,1966,London,London,GB,489,"Second Post-Impressionist Exhibition. British,...",Grafton Galleries,1912,group,4,GB,London,51.514248,-0.093145
1,1,William Bernard,Adeney,M,1878,1966,London,London,GB,618,Exhibition of the Camden Town Group and Others,Public Art Galleries,1913,group,6,GB,Brighton,50.833333,-0.15
2,1,William Bernard,Adeney,M,1878,1966,London,London,GB,720,The Second Exhibition of Works by Members of t...,Goupil Gallery,1915,group,4,GB,London,51.514248,-0.093145
3,1,William Bernard,Adeney,M,1878,1966,London,London,GB,729,Third Exhibition of Works by Members of the Lo...,Goupil Gallery,1915,group,5,GB,London,51.514248,-0.093145
4,1,William Bernard,Adeney,M,1878,1966,London,London,GB,650,The First Exhibition of Works by Members of Th...,Goupil Gallery,1914,group,5,GB,London,51.514248,-0.093145

In [31]:
missing_values = data.isna().sum()
missing_values

a.id             0
a.firstname      0
a.lastname       0
a.gender         0
a.birthdate      0
a.deathdate      0
a.birthplace     0
a.deathplace     0
a.nationality    0
e.id             0
e.title          0
e.venue          0
e.startdate      0
e.type           0
e.paintings      0
e.country        0
e.city           0
e.latitude       0
e.longitude      0
dtype: int64

- Select a time interval instead of the full range
- Aggregate by calendar interval, e.g., by year
- Select a smaller region in space instead of the whole extent, e.g., exhibitions in certain countries
- Aggregate by spatial hierarchy, e.g., cities, countries, or continents
- Select a subset of the data, e.g., artists with certain nationalities, male/female artists, certain film types
- Aggregate by such data subsets, e.g., exhibition locations over time for female/male artists

What needs to be included:
 
- the temporal component needs to be considered in any case
- you can simplify and aggregate spatial dimension
- you can look at single or groups of data cases (artists, exhibitions, films)

In [32]:
unique_values = data['e.country'].unique()
unique_values

array(['GB', 'NL', 'DE', 'RU', 'UA', 'CH', 'HU', 'AT', 'US', 'LV', 'FR',
       'JP', 'BE', 'CZ', 'IT', 'LT', 'ES', 'SE', 'PL', 'NO', '\\N'],
      dtype=object)

In [33]:
value_counts = data['e.country'].value_counts()
value_counts

e.country
DE    20529
GB     8697
IT     7031
NL     6691
FR     6358
AT     4771
HU     4096
BE     3615
RU     2887
US     2687
CZ     2279
UA      923
CH      507
SE      492
LV      414
PL       40
JP       26
LT       17
ES        8
\N        6
NO        4
Name: count, dtype: int64

In [34]:
value_counts = data['e.id'].value_counts()
value_counts

e.id
992     3648
174     1374
672      994
109      942
1244     928
        ...
370        1
527        1
402        1
185        1
499        1
Name: count, Length: 1069, dtype: int64

In [35]:
value_counts = data['a.id'].value_counts()
value_counts

a.id
317     114
401     110
416     109
37      108
58      104
       ...
9504      1
9503      1
9500      1
9498      1
9041      1
Name: count, Length: 13267, dtype: int64

In [36]:
value_counts = data['a.nationality'].value_counts()
value_counts

a.nationality
DE    15204
FR     9734
GB     7559
NL     6645
\N     4783
IT     4027
HU     3468
AT     3443
BE     3369
RU     3108
CZ     2235
US     2145
CH     1417
SE      975
PL      881
ES      665
NO      600
DK      476
UA      252
AU      212
IE      174
BG       84
RO       75
CA       56
HR       54
JP       46
FI       43
SK       42
LV       33
GE       30
AM       23
SI       23
AR       21
MX       21
GR       19
NZ       19
LT       15
EE       14
RS       14
PT       10
DO        9
ZA        9
BY        8
TR        7
IL        5
PE        4
CL        4
LU        4
IN        4
VE        3
UY        2
BA        2
GT        1
SV        1
ME        1
Name: count, dtype: int64

In [37]:
value_counts = data[data['a.nationality'] == 'DE']['a.id'].value_counts()
print(value_counts)

a.id
225      101
517       97
65        92
461       78
581       75
        ...
2795       1
11284      1
3263       1
2887       1
2709       1
Name: count, Length: 2006, dtype: int64

In [38]:
value_counts = data[data['a.nationality'] == 'DE']['e.country'].value_counts()
print(value_counts)

e.country
DE    12436
AT      690
IT      594
GB      368
NL      272
US      209
HU      205
CZ      123
FR      122
CH       84
BE       56
RU       21
JP       13
UA        8
LV        3
Name: count, dtype: int64

-> German artists mainly display in Germany

In [39]:
value_counts = data[data['e.country'] == 'AT']['e.city'].value_counts()
print(value_counts)

e.city
Vienna    4771
Name: count, dtype: int64

-> Vienna is the only displaying city in Austria

In [40]:
value_counts = data[data['e.country'] == 'DE']['e.city'].value_counts()
print(value_counts)

e.city
Munich                      8479
Berlin                      6143
Cologne                     1329
Dusseldorf                   963
Bremen                       811
Leipzig                      649
-                            646
Mannheim                     490
Stuttgart                    202
Darmstadt                    193
Dresden                      181
Weimar                       157
Hamburg                       95
Essen                         90
Frankfurt am Main             86
Brandenburg an der Havel       9
Bielefeld                      1
Jena                           1
Chemnitz                       1
Krefeld                        1
Magdeburg                      1
Hagen                          1
Name: count, dtype: int64

In [41]:
value_counts = data[data['e.country'] == 'GB']['e.city'].value_counts()
print(value_counts)

e.city
London       8136
Brighton      245
\N            245
Liverpool      50
Glasgow        21
Name: count, dtype: int64

In [42]:
value_counts = data[data['e.country'] == 'US']['e.city'].value_counts()
print(value_counts)

e.city
Pittsburgh       1472
New York          949
Chicago           183
Boston             59
Cincinnati         21
Dresden             2
San Francisco       1
Name: count, dtype: int64

In [43]:
unique_values = data['e.paintings'].unique()
unique_values

array([  4,   6,   5,   3,   1,  13,  12,   9,   2,  18,   7,  62,  73,
        10,  14,  53,  90,   8,  20,  19,  24,  11,  40,  25,  36,  84,
        26, 114,  23,  17,  28,  81,  15,  47,  56,  16,  33,  50,  42,
        48,  29,  22,  55,  41,  30,  34,  21,  60,  27,  59, 262,  69,
        68,  79,  61, 227,  38,  32,  85,  71,  65,  37,  35,  39,  44,
        49,  52,  57,  54, 150, 257, 760,  64, 112,  58,  72,  46, 124,
        66,  45,  31,  83, 127,  97,  74,  91,  75, 136, 151,  67,  76,
        43,  92, 110, 192, 282, 222, 129, 108, 219,  95,  80, 178, 200,
       431, 100, 125,  98,  51,  70, 193, 132, 145, 120, 174, 239,  82,
       376, 385, 121, 101, 142, 203, 166,  96,  89, 146, 165, 148,  63,
       111,  99, 141, 214, 184, 302, 134, 252,  86, 152, 123, 226,  87,
       119, 201, 477, 126, 215, 149, 128, 144, 143,  77, 109, 104, 210,
        94,  88])

In [44]:
data['e.startdate'] = pd.to_numeric(data['e.startdate'], errors='coerce')
data['a.birthdate'] = pd.to_numeric(data['a.birthdate'], errors='coerce')

In [45]:
data['age_at_exhibition'] = data['e.startdate'] - data['a.birthdate']
df_before_30 = data[data['age_at_exhibition'] <= 30]

df_before_30

,a.id,a.firstname,a.lastname,a.gender,a.birthdate,a.deathdate,a.birthplace,a.deathplace,a.nationality,e.id,e.title,e.venue,e.startdate,e.type,e.paintings,e.country,e.city,e.latitude,e.longitude,age_at_exhibition
7,2,Peter,Alma,M,1886.0,1969,Medan,Amsterdam,NL,716,"Tentoonstelling Alma, Le Fauconnier en Mondrian",Rotterdamsche Kunstkring,1915,group,6,NL,Rotterdam,51.916667,4.5,29.0
8,2,Peter,Alma,M,1886.0,1969,Medan,Amsterdam,NL,490,Moderne Kunst Kring (Cercle de l'art moderne)....,Moderne Kunst Kring,1912,group,13,NL,Amsterdam,52.35,4.916667,26.0
9,2,Peter,Alma,M,1886.0,1969,Medan,Amsterdam,NL,609,Moderne Kunst Kring (Cercle de l'Art Moderne),Moderne Kunst Kring,1913,group,12,NL,Amsterdam,52.35,4.916667,27.0
10,2,Peter,Alma,M,1886.0,1969,Medan,Amsterdam,NL,462,Internationale Kunstausstellung des Sonderbund...,Städtische Ausstellungshalle am Aachener Tor,1912,group,1,DE,Cologne,50.933333,6.95,26.0
11,2,Peter,Alma,M,1886.0,1969,Medan,Amsterdam,NL,462,Internationale Kunstausstellung des Sonderbund...,Sonderbund Westdeutscher Kunstfreunde und Küns...,1912,group,1,DE,Cologne,50.933333,6.95,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72007,13953,Marjorie Ellen,Watmough,F,1884.0,0000,"Cleveland, Ohio",\N,US,360,Fifteenth Annual Exhibition,Carnegie Institute,1911,group,1,US,Pittsburgh,40.4333,-79.9833,27.0
72044,13973,Jan Antonie,Bonebakker,M,1889.0,1950,Amsterdam,Amsterdam,NL,1397,Tentoonstelling van Teekeningen en Beeldhouwwe...,Arti et Amicitiae,1909,group,1,NL,Amsterdam,52.35,4.916667,20.0
72045,13973,Jan Antonie,Bonebakker,M,1889.0,1950,Amsterdam,Amsterdam,NL,1397,Tentoonstelling van Teekeningen en Beeldhouwwe...,Amsterdam (exact location unknown),1909,group,1,NL,Amsterdam,52.35,4.916667,20.0
72050,13976,Max,Cramer,M,1882.0,1960,Bremen,"Reinach, Aargau",DE,1397,Tentoonstelling van Teekeningen en Beeldhouwwe...,Amsterdam (exact location unknown),1909,group,1,NL,Amsterdam,52.35,4.916667,27.0
72051,13976,Max,Cramer,M,1882.0,1960,Bremen,"Reinach, Aargau",DE,1397,Tentoonstelling van Teekeningen en Beeldhouwwe...,Arti et Amicitiae,1909,group,1,NL,Amsterdam,52.35,4.916667,27.0

In [46]:
unique_values = df_before_30['a.id'].value_counts()
unique_values

a.id
23       60
443      51
593      50
293      45
41       38
         ..
3649      1
10972     1
10974     1
10975     1
6021      1
Name: count, Length: 3061, dtype: int64

In [47]:
exhibitions_count = df_before_30.groupby('a.id').size()

artists_with_5_exhibitions = exhibitions_count[exhibitions_count >= 5].index

df_filtered = df_before_30[df_before_30['a.id'].isin(artists_with_5_exhibitions)]
df_filtered

,a.id,a.firstname,a.lastname,a.gender,a.birthdate,a.deathdate,a.birthplace,a.deathplace,a.nationality,e.id,e.title,e.venue,e.startdate,e.type,e.paintings,e.country,e.city,e.latitude,e.longitude,age_at_exhibition
7,2,Peter,Alma,M,1886.0,1969,Medan,Amsterdam,NL,716,"Tentoonstelling Alma, Le Fauconnier en Mondrian",Rotterdamsche Kunstkring,1915,group,6,NL,Rotterdam,51.916667,4.5,29.0
8,2,Peter,Alma,M,1886.0,1969,Medan,Amsterdam,NL,490,Moderne Kunst Kring (Cercle de l'art moderne)....,Moderne Kunst Kring,1912,group,13,NL,Amsterdam,52.35,4.916667,26.0
9,2,Peter,Alma,M,1886.0,1969,Medan,Amsterdam,NL,609,Moderne Kunst Kring (Cercle de l'Art Moderne),Moderne Kunst Kring,1913,group,12,NL,Amsterdam,52.35,4.916667,27.0
10,2,Peter,Alma,M,1886.0,1969,Medan,Amsterdam,NL,462,Internationale Kunstausstellung des Sonderbund...,Städtische Ausstellungshalle am Aachener Tor,1912,group,1,DE,Cologne,50.933333,6.95,26.0
11,2,Peter,Alma,M,1886.0,1969,Medan,Amsterdam,NL,462,Internationale Kunstausstellung des Sonderbund...,Sonderbund Westdeutscher Kunstfreunde und Küns...,1912,group,1,DE,Cologne,50.933333,6.95,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70403,12995,Aroldo,Bonzagni,M,1887.0,1918,Cento,Milan,IT,453,X. Esposizione d'Arte della Città di Venezia,Giardini Pubblici,1912,group,2,IT,Venice,45.438611,12.326667,25.0
70404,12995,Aroldo,Bonzagni,M,1887.0,1918,Cento,Milan,IT,196,Esposizione Annuale d'Arte della Famiglia Arti...,Famiglia Artistica,1909,group,5,IT,Milan,45.466667,9.2,22.0
70405,12995,Aroldo,Bonzagni,M,1887.0,1918,Cento,Milan,IT,453,X. Esposizione d'Arte della Città di Venezia,Città di Venezia,1912,group,2,IT,Venice,45.438611,12.326667,25.0
70406,12995,Aroldo,Bonzagni,M,1887.0,1918,Cento,Milan,IT,672,XI. Esposizione d'Arte della Città di Venezia,Giardini Pubblici,1914,group,1,IT,Venice,45.438611,12.326667,27.0
70407,12995,Aroldo,Bonzagni,M,1887.0,1918,Cento,Milan,IT,672,XI. Esposizione d'Arte della Città di Venezia,Città di Venezia,1914,group,1,IT,Venice,45.438611,12.326667,27.0

In [48]:
unique_values = df_filtered['a.id'].value_counts()
unique_values

a.id
23       60
443      51
593      50
293      45
210      38
         ..
2368      5
1197      5
2392      5
1196      5
12995     5
Name: count, Length: 818, dtype: int64

In [49]:
unique_values = df_filtered['age_at_exhibition'].value_counts()
unique_values

age_at_exhibition
29.0    1294
28.0    1240
30.0    1199
27.0    1138
26.0     975
25.0     745
24.0     639
23.0     464
22.0     324
21.0     173
20.0     100
19.0      33
18.0      22
17.0       6
15.0       2
13.0       2
16.0       1
14.0       1
Name: count, dtype: int64