# 188.308 Informationsvisualisierung (UE 1,0) 2024W
## Analysis for Assignement 1

In [2]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/kyzer/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from seaborn) (2.1.0)
Requirement already satisfied: pandas>=1.2 in /Users/kyzer/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Users/kyzer/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/kyzer/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /Users/kyzer/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/kyzer/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/kyzer/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/kyzer/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in /Users/kyzer/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/kyzer/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in /Users/kyzer/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /Users/kyzer/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/kyzer/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/kyzer/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data = pd.read_csv("data/artisdata.csv", delimiter=";")
data.head()

,a.id,a.firstname,a.lastname,a.gender,a.birthdate,a.deathdate,a.birthplace,a.deathplace,a.nationality,e.id,e.title,e.venue,e.startdate,e.type,e.paintings,e.country,e.city,e.latitude,e.longitude
0,1,William Bernard,Adeney,M,1878-01-01,1966-01-01,London,London,GB,489,"Second Post-Impressionist Exhibition. British,...",Grafton Galleries,1912,group,4,GB,London,51.514248,-0.093145
1,1,William Bernard,Adeney,M,1878-01-01,1966-01-01,London,London,GB,618,Exhibition of the Camden Town Group and Others,Public Art Galleries,1913,group,6,GB,Brighton,50.833333,-0.15
2,1,William Bernard,Adeney,M,1878-01-01,1966-01-01,London,London,GB,720,The Second Exhibition of Works by Members of t...,Goupil Gallery,1915,group,4,GB,London,51.514248,-0.093145
3,1,William Bernard,Adeney,M,1878-01-01,1966-01-01,London,London,GB,729,Third Exhibition of Works by Members of the Lo...,Goupil Gallery,1915,group,5,GB,London,51.514248,-0.093145
4,1,William Bernard,Adeney,M,1878-01-01,1966-01-01,London,London,GB,650,The First Exhibition of Works by Members of Th...,Goupil Gallery,1914,group,5,GB,London,51.514248,-0.093145

In [5]:
data['a.birthdate'] = data['a.birthdate'].astype(str).str[:4]
data['a.deathdate'] = data['a.deathdate'].astype(str).str[:4]

In [6]:
data.isna().sum()

a.id             0
a.firstname      0
a.lastname       0
a.gender         0
a.birthdate      0
a.deathdate      0
a.birthplace     0
a.deathplace     0
a.nationality    0
e.id             0
e.title          0
e.venue          0
e.startdate      0
e.type           0
e.paintings      0
e.country        0
e.city           0
e.latitude       0
e.longitude      0
dtype: int64

- Select a time interval instead of the full range
- Aggregate by calendar interval, e.g., by year
- Select a smaller region in space instead of the whole extent, e.g., exhibitions in certain countries
- Aggregate by spatial hierarchy, e.g., cities, countries, or continents
- Select a subset of the data, e.g., artists with certain nationalities, male/female artists, certain film types
- Aggregate by such data subsets, e.g., exhibition locations over time for female/male artists

What needs to be included:
 
- the temporal component needs to be considered in any case
- you can simplify and aggregate spatial dimension
- you can look at single or groups of data cases (artists, exhibitions, films)

In [7]:
data['e.country'].unique()

array(['GB', 'NL', 'DE', 'RU', 'UA', 'CH', 'HU', 'AT', 'US', 'LV', 'FR',
       'JP', 'BE', 'CZ', 'IT', 'LT', 'ES', 'SE', 'PL', 'NO', '\\N'],
      dtype=object)

In [8]:
data['e.country'].value_counts()

e.country
DE    20529
GB     8697
IT     7031
NL     6691
FR     6358
AT     4771
HU     4096
BE     3615
RU     2887
US     2687
CZ     2279
UA      923
CH      507
SE      492
LV      414
PL       40
JP       26
LT       17
ES        8
\N        6
NO        4
Name: count, dtype: int64

In [9]:
data['e.id'].value_counts()

e.id
992     3648
174     1374
672      994
109      942
1244     928
        ...
370        1
527        1
402        1
185        1
499        1
Name: count, Length: 1069, dtype: int64

In [10]:
data['a.id'].value_counts()

a.id
317     114
401     110
416     109
37      108
58      104
       ...
9504      1
9503      1
9500      1
9498      1
9041      1
Name: count, Length: 13267, dtype: int64

In [11]:
data['a.nationality'].value_counts()

a.nationality
DE    15204
FR     9734
GB     7559
NL     6645
\N     4783
IT     4027
HU     3468
AT     3443
BE     3369
RU     3108
CZ     2235
US     2145
CH     1417
SE      975
PL      881
ES      665
NO      600
DK      476
UA      252
AU      212
IE      174
BG       84
RO       75
CA       56
HR       54
JP       46
FI       43
SK       42
LV       33
GE       30
AM       23
SI       23
AR       21
MX       21
GR       19
NZ       19
LT       15
EE       14
RS       14
PT       10
DO        9
ZA        9
BY        8
TR        7
IL        5
PE        4
CL        4
LU        4
IN        4
VE        3
UY        2
BA        2
GT        1
SV        1
ME        1
Name: count, dtype: int64

In [12]:
data[data['a.nationality'] == 'DE']['a.id'].value_counts()

a.id
225      101
517       97
65        92
461       78
581       75
        ...
2795       1
11284      1
3263       1
2887       1
2709       1
Name: count, Length: 2006, dtype: int64

In [13]:
data[data['a.nationality'] == 'DE']['e.country'].value_counts()

e.country
DE    12436
AT      690
IT      594
GB      368
NL      272
US      209
HU      205
CZ      123
FR      122
CH       84
BE       56
RU       21
JP       13
UA        8
LV        3
Name: count, dtype: int64

-> German artists mainly display in Germany

In [14]:
data[data['e.country'] == 'AT']['e.city'].value_counts()

e.city
Vienna    4771
Name: count, dtype: int64

-> Vienna is the only displaying city in Austria

In [15]:
data[data['e.country'] == 'DE']['e.city'].value_counts()

e.city
Munich                      8479
Berlin                      6143
Cologne                     1329
Dusseldorf                   963
Bremen                       811
Leipzig                      649
-                            646
Mannheim                     490
Stuttgart                    202
Darmstadt                    193
Dresden                      181
Weimar                       157
Hamburg                       95
Essen                         90
Frankfurt am Main             86
Brandenburg an der Havel       9
Bielefeld                      1
Jena                           1
Chemnitz                       1
Krefeld                        1
Magdeburg                      1
Hagen                          1
Name: count, dtype: int64

In [16]:
data[data['e.country'] == 'GB']['e.city'].value_counts()

e.city
London       8136
Brighton      245
\N            245
Liverpool      50
Glasgow        21
Name: count, dtype: int64

In [17]:
data[data['e.country'] == 'US']['e.city'].value_counts()

e.city
Pittsburgh       1472
New York          949
Chicago           183
Boston             59
Cincinnati         21
Dresden             2
San Francisco       1
Name: count, dtype: int64

In [18]:
unique_values = data['e.paintings'].unique()
unique_values

array([  4,   6,   5,   3,   1,  13,  12,   9,   2,  18,   7,  62,  73,
        10,  14,  53,  90,   8,  20,  19,  24,  11,  40,  25,  36,  84,
        26, 114,  23,  17,  28,  81,  15,  47,  56,  16,  33,  50,  42,
        48,  29,  22,  55,  41,  30,  34,  21,  60,  27,  59, 262,  69,
        68,  79,  61, 227,  38,  32,  85,  71,  65,  37,  35,  39,  44,
        49,  52,  57,  54, 150, 257, 760,  64, 112,  58,  72,  46, 124,
        66,  45,  31,  83, 127,  97,  74,  91,  75, 136, 151,  67,  76,
        43,  92, 110, 192, 282, 222, 129, 108, 219,  95,  80, 178, 200,
       431, 100, 125,  98,  51,  70, 193, 132, 145, 120, 174, 239,  82,
       376, 385, 121, 101, 142, 203, 166,  96,  89, 146, 165, 148,  63,
       111,  99, 141, 214, 184, 302, 134, 252,  86, 152, 123, 226,  87,
       119, 201, 477, 126, 215, 149, 128, 144, 143,  77, 109, 104, 210,
        94,  88])

In [19]:
data['e.startdate'] = pd.to_numeric(data['e.startdate'], errors='coerce')
data['a.birthdate'] = pd.to_numeric(data['a.birthdate'], errors='coerce')
data['a.deathdate'] = pd.to_numeric(data['a.deathdate'], errors='coerce')

In [20]:
data['age_at_exhibition'] = data['e.startdate'] - data['a.birthdate']
df_before_30 = data[data['age_at_exhibition'] <= 30]
df_before_30

,a.id,a.firstname,a.lastname,a.gender,a.birthdate,a.deathdate,a.birthplace,a.deathplace,a.nationality,e.id,e.title,e.venue,e.startdate,e.type,e.paintings,e.country,e.city,e.latitude,e.longitude,age_at_exhibition
7,2,Peter,Alma,M,1886.0,1969,Medan,Amsterdam,NL,716,"Tentoonstelling Alma, Le Fauconnier en Mondrian",Rotterdamsche Kunstkring,1915,group,6,NL,Rotterdam,51.916667,4.5,29.0
8,2,Peter,Alma,M,1886.0,1969,Medan,Amsterdam,NL,490,Moderne Kunst Kring (Cercle de l'art moderne)....,Moderne Kunst Kring,1912,group,13,NL,Amsterdam,52.35,4.916667,26.0
9,2,Peter,Alma,M,1886.0,1969,Medan,Amsterdam,NL,609,Moderne Kunst Kring (Cercle de l'Art Moderne),Moderne Kunst Kring,1913,group,12,NL,Amsterdam,52.35,4.916667,27.0
10,2,Peter,Alma,M,1886.0,1969,Medan,Amsterdam,NL,462,Internationale Kunstausstellung des Sonderbund...,Städtische Ausstellungshalle am Aachener Tor,1912,group,1,DE,Cologne,50.933333,6.95,26.0
11,2,Peter,Alma,M,1886.0,1969,Medan,Amsterdam,NL,462,Internationale Kunstausstellung des Sonderbund...,Sonderbund Westdeutscher Kunstfreunde und Küns...,1912,group,1,DE,Cologne,50.933333,6.95,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72007,13953,Marjorie Ellen,Watmough,F,1884.0,0,"Cleveland, Ohio",\N,US,360,Fifteenth Annual Exhibition,Carnegie Institute,1911,group,1,US,Pittsburgh,40.4333,-79.9833,27.0
72044,13973,Jan Antonie,Bonebakker,M,1889.0,1950,Amsterdam,Amsterdam,NL,1397,Tentoonstelling van Teekeningen en Beeldhouwwe...,Arti et Amicitiae,1909,group,1,NL,Amsterdam,52.35,4.916667,20.0
72045,13973,Jan Antonie,Bonebakker,M,1889.0,1950,Amsterdam,Amsterdam,NL,1397,Tentoonstelling van Teekeningen en Beeldhouwwe...,Amsterdam (exact location unknown),1909,group,1,NL,Amsterdam,52.35,4.916667,20.0
72050,13976,Max,Cramer,M,1882.0,1960,Bremen,"Reinach, Aargau",DE,1397,Tentoonstelling van Teekeningen en Beeldhouwwe...,Amsterdam (exact location unknown),1909,group,1,NL,Amsterdam,52.35,4.916667,27.0
72051,13976,Max,Cramer,M,1882.0,1960,Bremen,"Reinach, Aargau",DE,1397,Tentoonstelling van Teekeningen en Beeldhouwwe...,Arti et Amicitiae,1909,group,1,NL,Amsterdam,52.35,4.916667,27.0

In [21]:
unique_values = df_before_30['a.id'].value_counts()
unique_values

a.id
23       60
443      51
593      50
293      45
41       38
         ..
3649      1
10972     1
10974     1
10975     1
6021      1
Name: count, Length: 3061, dtype: int64

In [22]:
exhibitions_count = df_before_30.groupby('a.id').size()
artists_with_5_exhibitions = exhibitions_count[exhibitions_count >= 5].index
df_filtered = df_before_30[df_before_30['a.id'].isin(artists_with_5_exhibitions)]
df_filtered

,a.id,a.firstname,a.lastname,a.gender,a.birthdate,a.deathdate,a.birthplace,a.deathplace,a.nationality,e.id,e.title,e.venue,e.startdate,e.type,e.paintings,e.country,e.city,e.latitude,e.longitude,age_at_exhibition
7,2,Peter,Alma,M,1886.0,1969,Medan,Amsterdam,NL,716,"Tentoonstelling Alma, Le Fauconnier en Mondrian",Rotterdamsche Kunstkring,1915,group,6,NL,Rotterdam,51.916667,4.5,29.0
8,2,Peter,Alma,M,1886.0,1969,Medan,Amsterdam,NL,490,Moderne Kunst Kring (Cercle de l'art moderne)....,Moderne Kunst Kring,1912,group,13,NL,Amsterdam,52.35,4.916667,26.0
9,2,Peter,Alma,M,1886.0,1969,Medan,Amsterdam,NL,609,Moderne Kunst Kring (Cercle de l'Art Moderne),Moderne Kunst Kring,1913,group,12,NL,Amsterdam,52.35,4.916667,27.0
10,2,Peter,Alma,M,1886.0,1969,Medan,Amsterdam,NL,462,Internationale Kunstausstellung des Sonderbund...,Städtische Ausstellungshalle am Aachener Tor,1912,group,1,DE,Cologne,50.933333,6.95,26.0
11,2,Peter,Alma,M,1886.0,1969,Medan,Amsterdam,NL,462,Internationale Kunstausstellung des Sonderbund...,Sonderbund Westdeutscher Kunstfreunde und Küns...,1912,group,1,DE,Cologne,50.933333,6.95,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70403,12995,Aroldo,Bonzagni,M,1887.0,1918,Cento,Milan,IT,453,X. Esposizione d'Arte della Città di Venezia,Giardini Pubblici,1912,group,2,IT,Venice,45.438611,12.326667,25.0
70404,12995,Aroldo,Bonzagni,M,1887.0,1918,Cento,Milan,IT,196,Esposizione Annuale d'Arte della Famiglia Arti...,Famiglia Artistica,1909,group,5,IT,Milan,45.466667,9.2,22.0
70405,12995,Aroldo,Bonzagni,M,1887.0,1918,Cento,Milan,IT,453,X. Esposizione d'Arte della Città di Venezia,Città di Venezia,1912,group,2,IT,Venice,45.438611,12.326667,25.0
70406,12995,Aroldo,Bonzagni,M,1887.0,1918,Cento,Milan,IT,672,XI. Esposizione d'Arte della Città di Venezia,Giardini Pubblici,1914,group,1,IT,Venice,45.438611,12.326667,27.0
70407,12995,Aroldo,Bonzagni,M,1887.0,1918,Cento,Milan,IT,672,XI. Esposizione d'Arte della Città di Venezia,Città di Venezia,1914,group,1,IT,Venice,45.438611,12.326667,27.0

In [23]:
unique_values = df_filtered['a.id'].value_counts()
unique_values

a.id
23       60
443      51
593      50
293      45
210      38
         ..
2368      5
1197      5
2392      5
1196      5
12995     5
Name: count, Length: 818, dtype: int64

In [24]:
unique_values = df_filtered['age_at_exhibition'].value_counts()
unique_values

age_at_exhibition
29.0    1294
28.0    1240
30.0    1199
27.0    1138
26.0     975
25.0     745
24.0     639
23.0     464
22.0     324
21.0     173
20.0     100
19.0      33
18.0      22
17.0       6
15.0       2
13.0       2
16.0       1
14.0       1
Name: count, dtype: int64

In [25]:
artist_exhibition_counts = df_filtered.groupby('a.id').size().reset_index(name='exhibition_count')
top_20_artists = artist_exhibition_counts.nlargest(10, 'exhibition_count')
top_20_artist_names = top_20_artists['a.id']
top_20_rows = df_filtered[df_filtered['a.id'].isin(top_20_artist_names)]
top_20_rows

,a.id,a.firstname,a.lastname,a.gender,a.birthdate,a.deathdate,a.birthplace,a.deathplace,a.nationality,e.id,e.title,e.venue,e.startdate,e.type,e.paintings,e.country,e.city,e.latitude,e.longitude,age_at_exhibition
357,23,Max,Beckmann,M,1884.0,1950,Leipzig,New York,DE,322,Einundzwanzigste Ausstellung der Berliner Sece...,Berliner Secession,1910,group,13,DE,Berlin,52.516667,13.4,26.0
358,23,Max,Beckmann,M,1884.0,1950,Leipzig,New York,DE,956,[IX. Jahrgang. III. Ausstellung. Schwarz-Weiss...,Berliner Secession,1906,group,6,DE,Berlin,52.516667,13.4,22.0
359,23,Max,Beckmann,M,1884.0,1950,Leipzig,New York,DE,154,Fünfzehnte Ausstellung der Berliner Secession,Berliner Secession,1908,group,4,DE,Berlin,52.516667,13.4,24.0
360,23,Max,Beckmann,M,1884.0,1950,Leipzig,New York,DE,493,Fünfundzwanzigste Ausstellung der Berliner Sec...,Berliner Secession,1912,group,15,DE,Berlin,52.516667,13.4,28.0
361,23,Max,Beckmann,M,1884.0,1950,Leipzig,New York,DE,186,Sechzehnte Ausstellung der Berliner Secession....,Berliner Secession,1908,group,11,DE,Berlin,52.516667,13.4,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45948,5757,Francis Sydney,Unwin,M,1885.0,1925,Stalbridge,Norfolk,GB,1053,Forty-Fourth Exhibition of Modern Pictures by ...,New English Art Club,1910,group,1,GB,London,51.514248,-0.093145,25.0
45949,5757,Francis Sydney,Unwin,M,1885.0,1925,Stalbridge,Norfolk,GB,113,Thirty-eighth Exhibition of Modern Pictures. N...,New English Art Club,1907,group,1,GB,London,51.514248,-0.093145,22.0
45950,5757,Francis Sydney,Unwin,M,1885.0,1925,Stalbridge,Norfolk,GB,155,Fortieth Exhibition of Modern Pictures. New En...,New English Art Club,1908,group,1,GB,London,51.514248,-0.093145,23.0
45951,5757,Francis Sydney,Unwin,M,1885.0,1925,Stalbridge,Norfolk,GB,1096,Contemporary Works of Art chosen by The Hon. N...,Carfax Gallery,1911,group,3,GB,London,51.514248,-0.093145,26.0
45952,5757,Francis Sydney,Unwin,M,1885.0,1925,Stalbridge,Norfolk,GB,581,Forty-ninth Exhibition of Modern Pictures. New...,Galleries of the Royal Society of British Artists,1913,group,2,GB,London,51.514248,-0.093145,28.0

In [26]:
unique_values = top_20_rows['a.id'].value_counts()
unique_values

a.id
23      60
443     51
593     50
293     45
41      38
210     38
871     37
3663    37
5757    37
190     35
Name: count, dtype: int64

In [27]:
unique_values = top_20_rows['age_at_exhibition'].value_counts()
unique_values

age_at_exhibition
28.0    86
30.0    62
27.0    60
29.0    59
26.0    50
25.0    42
24.0    21
23.0    20
22.0    16
20.0     6
21.0     6
Name: count, dtype: int64

In [28]:
artist_country_counts = top_20_rows.groupby('a.id')['e.country'].nunique().reset_index(name='unique_country_count')
artist_country_counts = artist_country_counts.sort_values(by='unique_country_count', ascending=False)
artist_country_counts

   a.id  unique_country_count
3   210                    11
1    41                     9
4   293                     6
0    23                     4
2   190                     4
5   443                     4
8  3663                     4
6   593                     3
7   871                     3
9  5757                     1

In [29]:
artist_country_counts = df_filtered.groupby('a.id')['e.country'].nunique().reset_index(name='unique_country_count')
top_international_artists = artist_country_counts.nlargest(10, 'unique_country_count')
top_international_artist_names = top_international_artists['a.id']
top_international_rows = df_filtered[df_filtered['a.id'].isin(top_international_artist_names)]
top_international_rows

,a.id,a.firstname,a.lastname,a.gender,a.birthdate,a.deathdate,a.birthplace,a.deathplace,a.nationality,e.id,e.title,e.venue,e.startdate,e.type,e.paintings,e.country,e.city,e.latitude,e.longitude,age_at_exhibition
774,41,Georges,Braque,M,1882.0,1963,Argenteuil,Paris,FR,311,Ausstellung des Sonderbundes Westdeutscher Kun...,Sonderbund Westdeutscher Kunstfreunde und Küns...,1910,group,2,DE,Cologne,50.933333,6.95,28.0
775,41,Georges,Braque,M,1882.0,1963,Argenteuil,Paris,FR,462,Internationale Kunstausstellung des Sonderbund...,Sonderbund Westdeutscher Kunstfreunde und Küns...,1912,group,7,DE,Cologne,50.933333,6.95,30.0
776,41,Georges,Braque,M,1882.0,1963,Argenteuil,Paris,FR,314,"Neue Künstlervereinigung München E.V., Turnus ...",Moderne Galerie (Heinrich Thannhauser),1910,group,4,DE,Munich,48.15,11.583333,28.0
777,41,Georges,Braque,M,1882.0,1963,Argenteuil,Paris,FR,311,Ausstellung des Sonderbundes Westdeutscher Kun...,Städtischer Kunstpalast,1910,group,2,DE,Dusseldorf,51.216667,6.766667,28.0
778,41,Georges,Braque,M,1882.0,1963,Argenteuil,Paris,FR,462,Internationale Kunstausstellung des Sonderbund...,Städtische Ausstellungshalle am Aachener Tor,1912,group,7,DE,Cologne,50.933333,6.95,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25184,1881,Eugène,Zak,M,1884.0,1926,Mogilno,Paris,PL,210,La Libre Esthétique. Seizième Exposition,La Libre Esthétique,1909,group,4,BE,Brussels,50.833333,4.333333,25.0
25185,1881,Eugène,Zak,M,1884.0,1926,Mogilno,Paris,PL,1140,Ausstellung der Vereinigung Polnischer Künstle...,Künstlerbund Hagen / Hagenbund,1908,group,4,AT,Vienna,48.2167,16.3667,24.0
25186,1881,Eugène,Zak,M,1884.0,1926,Mogilno,Paris,PL,1140,Ausstellung der Vereinigung Polnischer Künstle...,Räume des Künstlerbundes Hagen - Zedlitzgasse,1908,group,4,AT,Vienna,48.2167,16.3667,24.0
25187,1881,Eugène,Zak,M,1884.0,1926,Mogilno,Paris,PL,394,Exposition d'Art Contemporain / Société Norman...,Galerie d'Art Ancien & d'Art Contemporain,1911,group,4,FR,Paris,48.866667,2.333333,27.0
25188,1881,Eugène,Zak,M,1884.0,1926,Mogilno,Paris,PL,1454,I. Ausstellung der Künstlervereinigung Sema,Moderne Galerie (Heinrich Thannhauser),1912,group,1,DE,Munich,48.15,11.583333,28.0

In [30]:
unique_values = top_international_rows['a.id'].value_counts()
unique_values

a.id
41      38
210     38
255     32
1881    32
215     29
79      28
91      24
128     21
333     21
354     20
Name: count, dtype: int64

In [31]:
unique_values = top_international_rows['age_at_exhibition'].value_counts()
unique_values

age_at_exhibition
29.0    62
30.0    54
28.0    52
27.0    51
26.0    22
25.0    20
24.0    11
21.0     4
22.0     3
20.0     2
23.0     2
Name: count, dtype: int64

In [32]:
artist_country_counts = top_international_rows.groupby('a.id')['e.country'].nunique().reset_index(name='unique_country_count')
artist_country_counts = artist_country_counts.sort_values(by='unique_country_count', ascending=False)
artist_country_counts

   a.id  unique_country_count
4   210                    11
1    79                    10
0    41                     9
6   255                     9
9  1881                     9
2    91                     7
3   128                     7
5   215                     7
7   333                     7
8   354                     7

In [33]:
data

,a.id,a.firstname,a.lastname,a.gender,a.birthdate,a.deathdate,a.birthplace,a.deathplace,a.nationality,e.id,e.title,e.venue,e.startdate,e.type,e.paintings,e.country,e.city,e.latitude,e.longitude,age_at_exhibition
0,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,489,"Second Post-Impressionist Exhibition. British,...",Grafton Galleries,1912,group,4,GB,London,51.514248,-0.093145,34.0
1,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,618,Exhibition of the Camden Town Group and Others,Public Art Galleries,1913,group,6,GB,Brighton,50.833333,-0.15,35.0
2,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,720,The Second Exhibition of Works by Members of t...,Goupil Gallery,1915,group,4,GB,London,51.514248,-0.093145,37.0
3,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,729,Third Exhibition of Works by Members of the Lo...,Goupil Gallery,1915,group,5,GB,London,51.514248,-0.093145,37.0
4,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,650,The First Exhibition of Works by Members of Th...,Goupil Gallery,1914,group,5,GB,London,51.514248,-0.093145,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72073,13998,Adam Emory,Albright,M,1862.0,1957,Monroe,Warrenville,US,224,Thirteenth Annual Exhibition,Carnegie Institute,1909,group,1,US,Pittsburgh,40.4333,-79.9833,47.0
72074,13999,Anna,Davidson,F,0.0,0,\N,\N,\N,666,Erste Ausstellung der Freien Secession Berlin,Ausstellungshaus am Kurfürstendamm 208/9,1914,group,1,DE,Berlin,52.516667,13.4,1914.0
72075,13999,Anna,Davidson,F,0.0,0,\N,\N,\N,547,Frühjahr-Ausstellung der Münchener Secession,Königliches Kunstausstellungsgebäude am Königs...,1913,group,1,DE,Munich,48.15,11.583333,1913.0
72076,13999,Anna,Davidson,F,0.0,0,\N,\N,\N,547,Frühjahr-Ausstellung der Münchener Secession,"Verein bildender Künstler Münchens ""Secession""",1913,group,1,DE,Munich,48.15,11.583333,1913.0
72077,13999,Anna,Davidson,F,0.0,0,\N,\N,\N,573,Ausstellung des Deutschen Künstlerbundes 1913,Kunsthalle Mannheim,1913,group,1,DE,Mannheim,49.488333,8.464722,1913.0

In [34]:
data = data[data['a.birthdate'] != 0.0]
data = data[data['a.deathdate'] != 0.0]
data = data[data['e.startdate'] != 0.0]
data

,a.id,a.firstname,a.lastname,a.gender,a.birthdate,a.deathdate,a.birthplace,a.deathplace,a.nationality,e.id,e.title,e.venue,e.startdate,e.type,e.paintings,e.country,e.city,e.latitude,e.longitude,age_at_exhibition
0,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,489,"Second Post-Impressionist Exhibition. British,...",Grafton Galleries,1912,group,4,GB,London,51.514248,-0.093145,34.0
1,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,618,Exhibition of the Camden Town Group and Others,Public Art Galleries,1913,group,6,GB,Brighton,50.833333,-0.15,35.0
2,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,720,The Second Exhibition of Works by Members of t...,Goupil Gallery,1915,group,4,GB,London,51.514248,-0.093145,37.0
3,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,729,Third Exhibition of Works by Members of the Lo...,Goupil Gallery,1915,group,5,GB,London,51.514248,-0.093145,37.0
4,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,650,The First Exhibition of Works by Members of Th...,Goupil Gallery,1914,group,5,GB,London,51.514248,-0.093145,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72069,13994,Robert Van Vorst,Sewell,M,1860.0,1924,New York,Florence,US,296,Fourteenth Annual Exhibition,Carnegie Institute,1910,group,1,US,Pittsburgh,40.4333,-79.9833,50.0
72070,13995,Abbott Handerson,Thayer,M,1849.0,1921,Boston,Dublin,US,296,Fourteenth Annual Exhibition,Carnegie Institute,1910,group,1,US,Pittsburgh,40.4333,-79.9833,61.0
72071,13996,Dwight William,Tryon,M,1849.0,1925,"Hartford, Connecticut",South Dartmouth,US,296,Fourteenth Annual Exhibition,Carnegie Institute,1910,group,1,US,Pittsburgh,40.4333,-79.9833,61.0
72072,13997,Louis David,Vaillant,M,1875.0,1944,"Cleveland, Ohio",\N,US,296,Fourteenth Annual Exhibition,Carnegie Institute,1910,group,1,US,Pittsburgh,40.4333,-79.9833,35.0
72073,13998,Adam Emory,Albright,M,1862.0,1957,Monroe,Warrenville,US,224,Thirteenth Annual Exhibition,Carnegie Institute,1909,group,1,US,Pittsburgh,40.4333,-79.9833,47.0

In [35]:
# Create a new column to check if the person was alive or dead at the time of exhibition
data['status_at_exhibition'] = data.apply(
    lambda row: 'alive' if pd.isna(row['a.deathdate']) or row['e.startdate'] < row['a.deathdate'] else 'dead', axis=1
)
# Update age_at_exhibition for those who are "dead" to be their age at death
data['age_at_exhibition'] = data.apply(
    lambda row: (row['a.deathdate'] - row['a.birthdate']) if row['status_at_exhibition'] == 'dead' else row['age_at_exhibition'], axis=1
)

In [36]:
df_to_safe = data
df_to_safe

,a.id,a.firstname,a.lastname,a.gender,a.birthdate,a.deathdate,a.birthplace,a.deathplace,a.nationality,e.id,...,e.venue,e.startdate,e.type,e.paintings,e.country,e.city,e.latitude,e.longitude,age_at_exhibition,status_at_exhibition
0,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,489,...,Grafton Galleries,1912,group,4,GB,London,51.514248,-0.093145,34.0,alive
1,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,618,...,Public Art Galleries,1913,group,6,GB,Brighton,50.833333,-0.15,35.0,alive
2,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,720,...,Goupil Gallery,1915,group,4,GB,London,51.514248,-0.093145,37.0,alive
3,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,729,...,Goupil Gallery,1915,group,5,GB,London,51.514248,-0.093145,37.0,alive
4,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,650,...,Goupil Gallery,1914,group,5,GB,London,51.514248,-0.093145,36.0,alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72069,13994,Robert Van Vorst,Sewell,M,1860.0,1924,New York,Florence,US,296,...,Carnegie Institute,1910,group,1,US,Pittsburgh,40.4333,-79.9833,50.0,alive
72070,13995,Abbott Handerson,Thayer,M,1849.0,1921,Boston,Dublin,US,296,...,Carnegie Institute,1910,group,1,US,Pittsburgh,40.4333,-79.9833,61.0,alive
72071,13996,Dwight William,Tryon,M,1849.0,1925,"Hartford, Connecticut",South Dartmouth,US,296,...,Carnegie Institute,1910,group,1,US,Pittsburgh,40.4333,-79.9833,61.0,alive
72072,13997,Louis David,Vaillant,M,1875.0,1944,"Cleveland, Ohio",\N,US,296,...,Carnegie Institute,1910,group,1,US,Pittsburgh,40.4333,-79.9833,35.0,alive
72073,13998,Adam Emory,Albright,M,1862.0,1957,Monroe,Warrenville,US,224,...,Carnegie Institute,1909,group,1,US,Pittsburgh,40.4333,-79.9833,47.0,alive

In [37]:
# Rename multiple columns at once
df_to_safe.rename(columns={
    'a.id': 'aid',
    'a.firstname': 'firstname',
    'a.lastname': 'lastname',
    'a.gender': 'gender',
    'a.birthdate': 'birthdate',
    'a.birthplace': 'birthplace',
    'a.deathplace': 'deathplace',
    'a.nationality': 'nationality',
    'e.id': 'eid',
    'a.deathdate': 'deathdate',
    'e.venue': 'venue',
    'e.startdate': 'startdate',
    'e.type': 'type',
    'e.paintings': 'paintings',
    'e.country': 'country',
    'e.city': 'city',
    'e.latitude': 'latitude',
    'e.longitude': 'longitude',
    'e.title':"title"
}, inplace=True)
#df_to_safe['name'] = df_to_safe['firstname'] + ' ' + df_to_safe['lastname']
df_to_safe

,aid,firstname,lastname,gender,birthdate,deathdate,birthplace,deathplace,nationality,eid,...,venue,startdate,type,paintings,country,city,latitude,longitude,age_at_exhibition,status_at_exhibition
0,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,489,...,Grafton Galleries,1912,group,4,GB,London,51.514248,-0.093145,34.0,alive
1,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,618,...,Public Art Galleries,1913,group,6,GB,Brighton,50.833333,-0.15,35.0,alive
2,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,720,...,Goupil Gallery,1915,group,4,GB,London,51.514248,-0.093145,37.0,alive
3,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,729,...,Goupil Gallery,1915,group,5,GB,London,51.514248,-0.093145,37.0,alive
4,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,650,...,Goupil Gallery,1914,group,5,GB,London,51.514248,-0.093145,36.0,alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72069,13994,Robert Van Vorst,Sewell,M,1860.0,1924,New York,Florence,US,296,...,Carnegie Institute,1910,group,1,US,Pittsburgh,40.4333,-79.9833,50.0,alive
72070,13995,Abbott Handerson,Thayer,M,1849.0,1921,Boston,Dublin,US,296,...,Carnegie Institute,1910,group,1,US,Pittsburgh,40.4333,-79.9833,61.0,alive
72071,13996,Dwight William,Tryon,M,1849.0,1925,"Hartford, Connecticut",South Dartmouth,US,296,...,Carnegie Institute,1910,group,1,US,Pittsburgh,40.4333,-79.9833,61.0,alive
72072,13997,Louis David,Vaillant,M,1875.0,1944,"Cleveland, Ohio",\N,US,296,...,Carnegie Institute,1910,group,1,US,Pittsburgh,40.4333,-79.9833,35.0,alive
72073,13998,Adam Emory,Albright,M,1862.0,1957,Monroe,Warrenville,US,224,...,Carnegie Institute,1909,group,1,US,Pittsburgh,40.4333,-79.9833,47.0,alive

In [38]:
# Replace '\\N' and '\N' with NaN using raw strings or double backslashes
df_to_safe.replace({r'\\N': np.nan, r'\N': np.nan}, inplace=True)

# Drop rows with NaN values
df_to_safe = df_to_safe.dropna()
df_to_safe

,aid,firstname,lastname,gender,birthdate,deathdate,birthplace,deathplace,nationality,eid,...,venue,startdate,type,paintings,country,city,latitude,longitude,age_at_exhibition,status_at_exhibition
0,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,489,...,Grafton Galleries,1912,group,4,GB,London,51.514248,-0.093145,34.0,alive
1,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,618,...,Public Art Galleries,1913,group,6,GB,Brighton,50.833333,-0.15,35.0,alive
2,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,720,...,Goupil Gallery,1915,group,4,GB,London,51.514248,-0.093145,37.0,alive
3,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,729,...,Goupil Gallery,1915,group,5,GB,London,51.514248,-0.093145,37.0,alive
4,1,William Bernard,Adeney,M,1878.0,1966,London,London,GB,650,...,Goupil Gallery,1914,group,5,GB,London,51.514248,-0.093145,36.0,alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72068,13993,Charles Sprague,Pearce,M,1851.0,1914,Boston,Auvers-sur-Oise,US,296,...,Carnegie Institute,1910,group,1,US,Pittsburgh,40.4333,-79.9833,59.0,alive
72069,13994,Robert Van Vorst,Sewell,M,1860.0,1924,New York,Florence,US,296,...,Carnegie Institute,1910,group,1,US,Pittsburgh,40.4333,-79.9833,50.0,alive
72070,13995,Abbott Handerson,Thayer,M,1849.0,1921,Boston,Dublin,US,296,...,Carnegie Institute,1910,group,1,US,Pittsburgh,40.4333,-79.9833,61.0,alive
72071,13996,Dwight William,Tryon,M,1849.0,1925,"Hartford, Connecticut",South Dartmouth,US,296,...,Carnegie Institute,1910,group,1,US,Pittsburgh,40.4333,-79.9833,61.0,alive
72073,13998,Adam Emory,Albright,M,1862.0,1957,Monroe,Warrenville,US,224,...,Carnegie Institute,1909,group,1,US,Pittsburgh,40.4333,-79.9833,47.0,alive

In [39]:
columns_to_fix = ['birthdate', 'age_at_exhibition']
df_to_safe[columns_to_fix] = df_to_safe[columns_to_fix].astype(int)
df_to_safe

/var/folders/s8/71y5_hp91nv7z5q2r2dy2tnr0000gn/T/ipykernel_23218/3390038581.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_to_safe[columns_to_fix] = df_to_safe[columns_to_fix].astype(int)

,aid,firstname,lastname,gender,birthdate,deathdate,birthplace,deathplace,nationality,eid,...,venue,startdate,type,paintings,country,city,latitude,longitude,age_at_exhibition,status_at_exhibition
0,1,William Bernard,Adeney,M,1878,1966,London,London,GB,489,...,Grafton Galleries,1912,group,4,GB,London,51.514248,-0.093145,34,alive
1,1,William Bernard,Adeney,M,1878,1966,London,London,GB,618,...,Public Art Galleries,1913,group,6,GB,Brighton,50.833333,-0.15,35,alive
2,1,William Bernard,Adeney,M,1878,1966,London,London,GB,720,...,Goupil Gallery,1915,group,4,GB,London,51.514248,-0.093145,37,alive
3,1,William Bernard,Adeney,M,1878,1966,London,London,GB,729,...,Goupil Gallery,1915,group,5,GB,London,51.514248,-0.093145,37,alive
4,1,William Bernard,Adeney,M,1878,1966,London,London,GB,650,...,Goupil Gallery,1914,group,5,GB,London,51.514248,-0.093145,36,alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72068,13993,Charles Sprague,Pearce,M,1851,1914,Boston,Auvers-sur-Oise,US,296,...,Carnegie Institute,1910,group,1,US,Pittsburgh,40.4333,-79.9833,59,alive
72069,13994,Robert Van Vorst,Sewell,M,1860,1924,New York,Florence,US,296,...,Carnegie Institute,1910,group,1,US,Pittsburgh,40.4333,-79.9833,50,alive
72070,13995,Abbott Handerson,Thayer,M,1849,1921,Boston,Dublin,US,296,...,Carnegie Institute,1910,group,1,US,Pittsburgh,40.4333,-79.9833,61,alive
72071,13996,Dwight William,Tryon,M,1849,1925,"Hartford, Connecticut",South Dartmouth,US,296,...,Carnegie Institute,1910,group,1,US,Pittsburgh,40.4333,-79.9833,61,alive
72073,13998,Adam Emory,Albright,M,1862,1957,Monroe,Warrenville,US,224,...,Carnegie Institute,1909,group,1,US,Pittsburgh,40.4333,-79.9833,47,alive

In [40]:
# Mapping for nationality codes to full country names
nationality_mapping = {
    'DE': 'Germany', 'FR': 'France', 'GB': 'United Kingdom', 'NL': 'Netherlands', 'HU': 'Hungary',
    'IT': 'Italy', 'CZ': 'Czech Republic', 'RU': 'Russia', 'AT': 'Austria', 'BE': 'Belgium',
    'CH': 'Switzerland', 'US': 'United States', 'PL': 'Poland', 'UA': 'Ukraine', 'SE': 'Sweden',
    'ES': 'Spain', 'NO': 'Norway', 'AU': 'Australia', 'BG': 'Bulgaria', 'DK': 'Denmark',
    'SK': 'Slovakia', 'LV': 'Latvia', 'GE': 'Georgia', 'MX': 'Mexico', 'CA': 'Canada',
    'HR': 'Croatia', 'RO': 'Romania', 'AR': 'Argentina', 'PT': 'Portugal', 'BY': 'Belarus',
    'IE': 'Ireland', 'LT': 'Lithuania', 'EE': 'Estonia', 'GR': 'Greece', 'IL': 'Israel',
    'CL': 'Chile', 'NZ': 'New Zealand', 'AM': 'Armenia', 'FI': 'Finland', 'RS': 'Serbia',
    'JP': 'Japan', 'BA': 'Bosnia and Herzegovina', 'GT': 'Guatemala', 'SV': 'El Salvador'
}

# Rename nationality column values
df_to_safe['nationality'] = df_to_safe['nationality'].map(nationality_mapping)

# Rename gender column values
gender_mapping = {'F': 'Female', 'M': 'Male'}
df_to_safe['gender'] = df_to_safe['gender'].map(gender_mapping)

# Rename status_at_exhibition column values
status_mapping = {'alive': 'Alive', 'dead': 'Dead'}
df_to_safe['status_at_exhibition'] = df_to_safe['status_at_exhibition'].map(status_mapping)

/var/folders/s8/71y5_hp91nv7z5q2r2dy2tnr0000gn/T/ipykernel_23218/1422730270.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_to_safe['nationality'] = df_to_safe['nationality'].map(nationality_mapping)
/var/folders/s8/71y5_hp91nv7z5q2r2dy2tnr0000gn/T/ipykernel_23218/1422730270.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_to_safe['gender'] = df_to_safe['gender'].map(gender_mapping)
/var/folders/s8/71y5_hp91nv7z5q2r2dy2tnr0000gn/T/ipykernel_23218/1422730270.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_to_safe['status_at_exhibition'] = df_to_safe['status_at_exhibition'].map(status_mapping)

In [41]:

# Filter the DataFrame for rows where status is 'alive' and age_at_exhibition is below 30
# df_to_safe = df_to_safe[(df_to_safe['age_at_exhibition'] <= 30)]

In [42]:
df_to_safe.to_csv('data/data.csv', index=False, sep = ",")

In [43]:
df_to_safe['age_at_exhibition'].value_counts()

age_at_exhibition
37    2244
34    2204
31    2201
33    2197
32    2170
      ...
94       2
96       2
11       2
13       2
92       1
Name: count, Length: 86, dtype: int64

In [44]:
df_to_safe['nationality'].value_counts()
#aid	firstname	lastname		birthdate	deathdate	birthplace	deathplace	nationality	eid	...	startdate	type	paintings	country	city	latitude	longitude	age_at_exhibition	status_at_exhibition	name

nationality
Germany                   14227
France                     8808
Netherlands                6523
United Kingdom             5513
Italy                      3860
Austria                    3242
Belgium                    3093
Hungary                    3044
Russia                     2649
Czech Republic             2156
United States              1905
Switzerland                1393
Sweden                      946
Poland                      835
Spain                       605
Norway                      589
Denmark                     464
Ukraine                     231
Australia                   208
Ireland                     128
Bulgaria                     60
Romania                      56
Canada                       54
Croatia                      54
Slovakia                     42
Finland                      41
Latvia                       33
Georgia                      30
Armenia                      20
Greece                       18
Mexico                       18
Argentina                    18
Lithuania                    15
Japan                        15
New Zealand                  15
Serbia                       14
Estonia                      14
Portugal                     10
Belarus                       8
Israel                        5
Chile                         4
Bosnia and Herzegovina        2
Guatemala                     1
El Salvador                   1
Name: count, dtype: int64